<!DOCTYPE html>
<html>
  <head>
    <title>CollabHub</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
<body class="bg-gray-100">
    <nav class="mb-8 border-y-2 bg-white border-gray-200 px-2 sm:px-4 py-2.5 rounded dark:bg-gray-800">
      <div class="container flex flex-wrap justify-between items-center mx-auto">
        <%= link_to root_path, class: "flex items-center" do %>
          <span class="self-center text-xl font-semibold whitespace-nowrap dark:text-white">CollabHub</span>
        <% end %>
        <div class="w-auto">
          <ul class="flex flex-col mt-4 md:flex-row md:space-x-8 md:mt-0 md:text-sm md:font-medium">
            <li>
              <% if user_signed_in? %>
                <%= button_to "Sign out", destroy_user_session_path, method: :get, class: "text-gray-700 hover:bg-gray-50 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 dark:text-gray-400 md:dark:hover:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent" %>
              <% else %>
                <%= link_to "Sign in", new_user_session_path, class: "text-gray-700 border-b border-gray-100 hover:bg-gray-50 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 dark:text-gray-400 md:dark:hover:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700" %>
                <span class="inline">|</span>
                <%= link_to "Sign up", new_user_registration_path, class: "text-gray-700 border-b border-gray-100 hover:bg-gray-50 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 dark:text-gray-400 md:dark:hover:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700" %>
              <% end %>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="bg-gray-100">
      <div class="w-1/2 mx-auto">
      <% flash.each do |type, msg| %>
        <div class="my-8">
          <div class="bg-teal-100 border-t-4 border-teal-500 rounded-b text-teal-900 px-4 py-3 shadow-md" role="alert">
            <div class="flex">
              <div class="py-1"><svg class="fill-current h-6 w-6 text-teal-500 mr-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M2.93 17.07A10 10 0 1 1 17.07 2.93 10 10 0 0 1 2.93 17.07zm12.73-1.41A8 8 0 1 0 4.34 4.34a8 8 0 0 0 11.32 11.32zM9 11V9h2v6H9v-4zm0-6h2v2H9V5z"/></svg></div>
              <div>
                <p class="font-bold">Heads up!</p>
                <p class="text-sm"><%= msg %></p>
              </div>
            </div>
          </div>
        </div>
        <% end %>
        <%= turbo_frame_tag "modal" %>
        <%= yield %>
      </div>
    </div>
  </body>
</html>
